# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage
playwright-report
test-results

# next.js
.next/
out/
build
dist

# production
*.log
.DS_Store

# env
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# storage (local uploads)
storage/

# misc
.idea/
.vscode/
